html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        width: 100%;
        background-color: #f7f7f7;
    }
}
